<!DOCTYPE html>
    <head>
        <title>{{race}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="static/css/styles.css" rel="stylesheet">
        <link href="static/css/Terran.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body style='background: url("static/img/{{race}}/background.png") no-repeat center center fixed;'>
        <div class="container" style="max-width: 100%;">
            <div class="row">
                {%for item_type in data['Races'][race]%}
                    {%if item_type == 'Buildings'%}
                    <div class="col" style="max-width: 380px">
                        {%elif item_type == 'Units'%}
                        <div class="col" style="max-width: 420px">
                            {%elif item_type == 'Upgrades'%}
                            <div class="col" style="max-width: 600px">
                    {%endif%}
                        <div class="container">
                            {%for name, item in data['Races'][race][item_type].items()%}
                                <div class="row item border-1">
                                    <div class="image-container {{item_type}} border-2 col-3" >
                                        {%if item_type != 'Upgrades'%}
                                            <div class="glow-large"></div>
                                        {% endif %}
                                        <div class="types">
                                            {%if 'Stats' in item and 'Types' in item['Stats']%}
                                                {%for type in item['Stats']['Types']%}
                                                    <span class="badge bg-type">{{type}}</span>
                                                {%endfor%}
                                            {%endif%}
                                        </div>
                                        {% if item_type == 'Buildings' or item_type == 'Units' %}
                                            <div class="image">
                                                <img class="icon" src="static/img/{{race}}/{{img(name)}}" style="max-width:{{item['Size']['Width']/0.04}}%;">
                                            </div>
                                        {% else %}
                                            <div>
                                                <img class="icon" src="static/img/{{race}}/{{img(name)}}" style="max-width:42px;">
                                            </div>
                                        {% endif %}
                                        {%if 'Abilities' in item%}
                                            <div class="abilities">
                                                {%if 'Cloaked' in item['Abilities']%}
                                                    <i class="bi bi-eye-slash light"></i>
                                                {%endif%}
                                                {%if 'Air' in item['Abilities']%}
                                                    <i class="bi bi-pin-map-fill light"></i>
                                                {%endif%}
                                                {%if 'Hovers' in item['Abilities']%}
                                                    <i class="bi bi-layers-half light"></i>
                                                {%endif%}
                                                {%if 'Detector' in item['Abilities']%}
                                                    <i class="bi bi-broadcast light"></i>
                                                {%endif%}
                                            </div>
                                        {%endif%}
                                    </div>
                                    <div class="col">
                                        <div class="container content">
                                            <div class="row" style="height: 22px;">
                                                <div class="col">
                                                    <span class="title">
                                                        {{ name }} {%if 'Levels' in item%}1-{{item['Levels']}}{%endif%}
                                                        {%if item_type == 'Units' and 'Size' in item['Stats']%}
                                                            <span class="size">
                                                                {{item['Stats']['Size']}}
                                                            </span>
                                                        {%endif%}
                                                        {%if 'Stats' in item and 'Amount' in item['Stats']%}
                                                            <span class="amount">({{ item['Stats']['Amount'] }}x)</span>
                                                        {%endif%}

                                                    </span>
                                                    {%if 'Costs' in item and item['Costs']['Time'] > 1%}
                                                        <span class="resource">
                                                            {{item['Costs']['Time']}}{%if 'Mod' in item['Costs']%}+{{ item['Costs']['Mod'] }}{%endif%}
                                                            <i class="bi light bi-clock-fill"></i>
                                                        </span>
                                                    {%endif%}
                                                    {%if 'Costs' in item and 'Supply' in item['Costs'] and item['Costs']['Supply'] > 0%}
                                                        <span class="resource">
                                                            {{item['Costs']['Supply']}}{%if 'Mod' in item['Costs']%}+{{ item['Costs']['Mod'] }}{%endif%}
                                                            <span class="resource-container"><img class="resource-image" src="static/img/icons/Supply{{race}}.png" width="20px"></span>
                                                        </span>
                                                    {%endif%}
                                                    {%if 'Costs' in item and item['Costs']['Gas'] > 0%}
                                                        <span class="resource">
                                                            {{item['Costs']['Gas']}}{%if 'Mod' in item['Costs']%}+{{ item['Costs']['Mod'] }}{%endif%}
                                                            <span class="resource-container"><img class="resource-image" src="static/img/icons/Gas{{race}}.png" width="20px"></span>
                                                        </span>
                                                    {%endif%}
                                                    {%if 'Costs' in item and item['Costs']['Minerals'] != 0%}
                                                        <span class="resource">
                                                            {{item['Costs']['Minerals']}}{%if 'Mod' in item['Costs']%}+{{ item['Costs']['Mod'] }}{%endif%}
                                                            <span class="resource-container"><img class="resource-image" src="static/img/icons/Mineral.png" width="20px"></span>
                                                        </span>
                                                    {%endif%}
                                                </div>
                                            </div>
                                            <div class="row requirement-row">
                                                <div class="col requirement">
                                                    {%if 'Text' in item%}
                                                        <span class="text-short">
                                                            {{item['Text']}}
                                                        </span>
                                                    {%endif%}
                                                    {%if item['Requires'] | length > 0%}
                                                        {%if 'Levels' in item %}
                                                            {%for levels, requirements in level_requirements(item['Requires']).items()%}
                                                                Level {{levels}} requires
                                                                {%for requirement in requirements%}
                                                                    <span class="badge bg-requirement">{{requirement}}</span>
                                                                {%endfor%}
                                                                {%if loop.index + 1 < loop.length %}
                                                                    <br>
                                                                {%endif%}
                                                            {%endfor%}
                                                        {%else%}
                                                            Requires
                                                                {%for requirement in item['Requires']%}
                                                                    <span class="badge bg-requirement">{{requirement}}</span>
                                                                {%endfor%}
                                                        {%endif%}
                                                    {%elif item_type != 'Upgrades'%}
                                                        &nbsp
                                                    {%endif%}
                                                </div>
                                                {%if 'Stats' in item %}
                                                    <div class="col-3">
                                                        {%if 'Shield' in item['Stats']%}
                                                            <div class="health">
                                                                {{item['Stats']['Shield']}} <i class="bi bi-shield-shaded"></i>
                                                            </div>
                                                        {%endif%}
                                                        <div class="health">
                                                            {{item['Stats']['Health']}} <i class="bi bi-heart-fill"></i>
                                                        </div>
                                                    </div>
                                                {%endif%}
                                            </div>
                                            {% if item_type != 'Upgrades' %}
                                                <div class="row products-row">
                                                    {%if num_products(item) > 0 %}
                                                        <div class="col products">
                                                            {%if 'Speed' in item['Stats']%}
                                                                <div class="image-container unit border-2">
                                                                    <div class="container">
                                                                        <div class="glow-small"></div>
                                                                        <div class="row">
                                                                            <div class="col stat-header">
                                                                                SPEED
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col stat-value">
                                                                                {{item['Stats']['Speed']}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {%endif%}
                                                            {%if 'Range' in item['Stats']%}
                                                                <div class="image-container unit border-2">
                                                                    <div class="container">
                                                                        <div class="glow-small"></div>
                                                                        <div class="row">
                                                                            <div class="col stat-header">
                                                                                RANGE
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col stat-value">
                                                                                {{item['Stats']['Range']}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {%endif%}
                                                            {%if 'Ground Damage' in item['Stats']%}
                                                                <div class="image-container unit border-2">
                                                                    <div class="container">
                                                                        <div class="glow-small"></div>
                                                                        <div class="row">
                                                                            <div class="col stat-header">
                                                                                GR.
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col stat-value">
                                                                                {{item['Stats']['Ground Damage']}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {%endif%}
                                                            {%if 'Air Damage' in item['Stats'] and item['Stats']['Air Damage'] != 0%}
                                                                <div class="image-container unit border-2">
                                                                    <div class="container">
                                                                        <div class="glow-small"></div>
                                                                        <div class="row">
                                                                            <div class="col stat-header">
                                                                                AIR
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col stat-value">
                                                                                {{item['Stats']['Air Damage']}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {%endif%}
                                                            {%for unit in item['Produces']%}
                                                                {% if (unit in data['Races'][race]['Units'] and 'Requires' in data['Races'][race]['Units'][unit]) or (unit in data['Races'][race]['Buildings'] and 'Requires' in data['Races'][race]['Buildings'][unit]) or ((item_type != 'Buildings') and (unit in data['Races'][race]['Upgrades']) and (data['Races'][race]['Upgrades'][unit]['Costs']['Time'] > 0)) %}
                                                                    <div class="image-container unit border-req">
                                                                {%else%}
                                                                    <div class="image-container unit border-2">
                                                                        <div class="glow-small"></div>
                                                                {%endif%}
                                                                    <div class="image">
                                                                        <img class="icon" src="static/img/{{race}}/{{img(unit.replace('!', ''))}}" style="max-width:32px">
                                                                    </div>
                                                                </div>
                                                            {%endfor%}
                                                            {%for upgrade in item['Upgrades']|reverse%}
                                                                <img class="icon" src="static/img/{{race}}/{{img(upgrade)}}" style="max-width:42px; float: right; margin-top: 1px;">
                                                            {%endfor%}
                                                        </div>
                                                    {%endif%}
                                                </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                {%endfor%}
            </div>
          </div>
        </div>

    </body>
</html>