<!DOCTYPE html>
    <head>
        <title>Hello</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-3">
                    <div class="container">
                    {%for name, building in data['Races'][race]['Buildings'].items()%}
                        <div class="row item border-1">
                            <div class="image-container building border-2 col-3" >
                                <div class="glow-large"></div>
                                <div class="image">
                                    <img class="icon" src="static/img/{{race}}/{{img(name)}}" style="max-width:{{building['Size']['Width']/0.04}}%;">
                                </div>
                            </div>
                            <div class="col">
                                <div class="container content">
                                    <div class="row" style="height: 22px;">
                                        <div class="col-7 title">
                                            {{ name }}
                                        </div>
                                        <div class="col">
                                            {%if building['Costs']['Time'] > 1%}
                                                <div class="resource">
                                                    {{building['Costs']['Time']}}<img src="static/img/icons/Duration.png" width="20px">
                                                </div>
                                            {%endif%}
                                            {%if building['Costs']['Supply'] > 0%}
                                                <div class="resource">
                                                    {{building['Costs']['Supply']}}<img src="static/img/icons/Supply.png" width="20px">
                                                </div>
                                            {%endif%}
                                            {%if building['Costs']['Gas'] > 0%}
                                                <div class="resource">
                                                    {{building['Costs']['Gas']}}<img src="static/img/icons/Gas.png" width="20px">
                                                </div>
                                            {%endif%}
                                            {%if building['Costs']['Minerals'] > 0%}
                                                <div class="resource">
                                                    {{building['Costs']['Minerals']}}<img src="static/img/icons/Mineral.png" width="20px">
                                                </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class="row requirement-row">
                                        <div class="col-8 requirement">
                                            {%if building['Requires'] | length > 0%}
                                                Requires
                                                {%for requirement in building['Requires']%}
                                                    <span class="badge bg-requirement">{{requirement}}</span>
                                                {%endfor%}
                                            {%else%}
                                            &nbsp
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class="row products-row">
                                        {%if num_products(building) > 0 %}
                                            <div class="col products">
                                                {%if 'Range' in building['Stats']%}
                                                    <div class="image-container unit border-1">
                                                        <div class="container">
                                                            <div class="glow-small"></div>
                                                            <div class="row">
                                                                <div class="col stat-header">
                                                                    RANGE
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col stat-value">
                                                                    {{building['Stats']['Range']}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {%endif%}
                                                {%if 'Ground Damage' in building['Stats']%}
                                                    <div class="image-container unit border-1">
                                                        <div class="container">
                                                            <div class="glow-small"></div>
                                                            <div class="row">
                                                                <div class="col stat-header">
                                                                    GR.
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col stat-value">
                                                                    {{building['Stats']['Ground Damage']}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {%endif%}
                                                {%if 'Air Damage' in building['Stats']%}
                                                    <div class="image-container unit border-1">
                                                        <div class="container">
                                                            <div class="glow-small"></div>
                                                            <div class="row">
                                                                <div class="col stat-header">
                                                                    AIR
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col stat-value">
                                                                    {{building['Stats']['Air Damage']}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {%endif%}
                                                {%for unit in building['Produces']%}
                                                    <div class="image-container unit border-1">
                                                        <div class="glow-small"></div>
                                                        <div class="image">
                                                            <img class="icon" src="static/img/{{race}}/{{img(unit)}}" style="max-width:32px">
                                                        </div>
                                                    </div>
                                                {%endfor%}
                                                {%for upgrade in building['Upgrades']%}
                                                    <img class="icon" src="static/img/{{race}}/{{img(upgrade)}}" style="max-width:42px; float: right; margin-top: 1px;">
                                                {%endfor%}
                                            </div>
                                        {%endif%}
                                    </div>
                                    <div class="row abilities-row">
                                        <div class="col abilities">
                                            {%if building['Abilities'] | length > 0%}
                                                {%for ability in building['Abilities']%}
                                                    <span class="badge bg-ability">{{ability}}</span>
                                                {%endfor%}
                                            {%else%}
                                            &nbsp
                                            {%endif%}
                                        </div>

                                        <div class="col"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                    </div>
                </div>
                <div class="col">
                    Column
                </div>
                <div class="col-3">
              Column
            </div>
          </div>
        </div>

    </body>
</html>