<!DOCTYPE html>
    <head>
        <title>{{race}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="static/css/styles.css" rel="stylesheet">
        <link href="static/css/Terran.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body style="background-color:white">
        <div class="container" style="max-width: 1150px; height: 1800px">
            {%for item_type in data['Races'][race]%}
                <div class="row">
                    {%for name, item in data['Races'][race][item_type].items()%}
                        {% if item_type == 'Buildings' and print_size(item, item_type) != "small" %}
                            {% for i in range(print_num(item, item_type)) %}
                                <div class="col">
                                    <div class="image-container Buildings {{ print_size(item, item_type) }} col-3" style="float: left; border: 1px solid white">
                                        <div class="image">
                                            <img class="icon" src="static/img/{{race}}/{{img(name)}}" style="max-width:{{item['Size']['Width']/0.04}}%;">
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                        {% endif %}
                    {%endfor%}
                </div>
                <div>
                    {%for name, item in data['Races'][race][item_type].items()%}
                        {% if (item_type == 'Buildings' and print_size(item, item_type) == "small") or item_type == 'Upgrades' %}
                            {% for i in range(print_num(item, item_type)) %}
                                <div>
                                    <div class="image-container Buildings {{ print_size(item, item_type) }} col-3" style="float: left; border: 1px solid white">
                                        {% if item_type == 'Buildings' and print_size(item, item_type) == "small" %}
                                            <div class="image">
                                                <img class="icon" src="static/img/{{race}}/{{img(name)}}" style="max-width:{{item['Size']['Width']/0.025}}%;">
                                            </div>
                                        {% else %}
                                            <div class="image">
                                                <img class="icon" src="static/img/{{race}}/{{img(name)}}" style="max-width:100%;">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {%endfor%}
                        {% endif %}
                    {%endfor%}
                </div>
            {%endfor%}
        </div>
    </body>
</html>