<!DOCTYPE html>
    <head>
        <title>{{race}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="static/css/styles.css" rel="stylesheet">
        <link href="static/css/Terran.css" rel="stylesheet">
        <!--<link href="static/css/styles-bw.css" rel="stylesheet">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body style="height: 1600px">
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-3" class="col" style="width: 500px">
                    <!--
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Setup</div>
                            <div>
                                <ol>
                                    <li>Select a map to play on and place the main game board (known as the Map) somewhere on the table so it can be reached by all players.</li>
                                    <li>Randomly determine the starting location of each player among the starting locations on the map and situate yourself near your own.</li>
                                    <li>Each player selects a race and places one of the smaller game boards (known as the minimap) in front of them and collects all the unit, buildings, upgrades, and control markers associated with their race as well as a set of mineral, gas, and miscellaneous tokens. This is all placed next to the Minimap.</li>
                                    <li>Each player places a control markers on all the areas they control. Look at the Map to see how it is partitioned.</li>
                                    <li>Each player places a Command Center, Nexus, or Hatchery (depending on their race) along with two workers in their starting location on their Minimap. Zerg also starts with one Overlord.</li>
                                    <li>The minimaps are secret and must be hidden from other players' vision behind books, board games, or something else you find.</li>
                                    <li>Place the turn tracker near the Map and place the player tokens in a line, in a random order, with the first player token on the turn 1 square and the others behind.</li>
                                </ol>
                                Now you are ready to start Turn 1.
                            </div>
                        </div>
                    </div>
                    --->
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px;">
                        <div class="container content">
                            <div class="title">Turn Sequence</div>
                            <div>
                                <br/>
                                <div>
                                    <b>Turn Order</b>
                                    <div>
                                        Each turn starts with the <b>Macro Phase</b>, that is done secretly and simultaneously, followed by the <b>Micro Phase</b>, that is executed one player at the time.
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <b>Macro Phase</b>
                                    <ol>
                                        <li>Regenerate</li>
                                        <li>Income</li>
                                        <li>Deployment</li>
                                        <li>Move & Produce</li>
                                    </ol>
                                </div>
                                <div>
                                    <b>Micro Phase</b>
                                    <div>
                                        Starting with the Starting Player, players either make a <i>Push</i> or <i>pass</i>.
                                        When all players passes in a round, the Micro Phase ends and a new turn starts.
                                        The first player to pass claims the Starting Player Token.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Regenerate</div>
                            Units and structures in non-contested areas <i>regenerate</i>:
                            <ol>
                                <li>Zerg units and structures heal one HP.</li>
                                <li>Protoss structures and units near a Nexus heal one HP.</li>
                                <li>Units and structures gain Energy.</li>
                            </ol>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Income</div>
                            <div>
                                <b>First round:</b> receive one mineral and proceed to the Move & Produce step.
                            </div>
                            <br>
                            <div>
                                <b>All following rounds:</b> each worker mining from a mineral field or Harvesting from a gas geyser will give you one of the corresponding resources if you have a <i>resource gathering facility</i> in the same area.
                            </div>
                            <br>
                            <div>
                                Workers cannot mine more minerals than the number of mineral fields in an area.
                                At most three gas can be gathered from each gas extractor you own.
                                When the turn marker is on a red turn square, you can no longer collected minerals from you main base, and at most one gas can be collected from a gas geyser while still requiring 3 workers.
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Deployment</div>
                            <div>
                                Units, structures, and upgrades that were produced last round are now deployed.
                            </div>
                            <br>
                            <div>
                                Some things take more that one round to produce (look for the <i class="bi light bi-clock-fill"></i> symbol).
                                Use counters to remember how many rounds these has been under production.
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Move & Produce</div>
                            <br>
                            <div>
                                <b>Move</b><br>
                                You can secretly move all your units on your Minimap from, through, and to areas you control.
                                Look at the Speed value to see how far units can move per round.
                                Use counters to remember how far things have moved as they can move again the Micro Phase if they have movement points left.
                            </div>
                            <br>
                            <div>
                                <b>Produce</b><br>
                                Workers with the Warp, Construct, or Morph ability can use them to produce structures.
                                They can move before they produce and Probes are also allowed to move after.
                            </div>
                            <br>
                            <div>
                                Structures can train units, produce add-ons, research upgrades, or morph into a higher tier as shown in their rules.
                                Some units can morph into higher tier units as well.
                                Each structure can only do one of these actions at a time, except for Zerg structures with Larva (find the rules on the Race sheet).
                            </div>
                            <br>
                            <div>
                                Gas Extractors can only be build ontop of an unoccupied gas geyser.
                            </div>
                            <br>
                            <div>
                                Anything in production can at any time be <b>cancelled</b>. Simply remove it and claim the resources you paid minus one mineral.
                            </div>
                            <br>
                            <div>
                                Structures in production have half (rounded down) Health. Units being morphed are in an Egg with 10 HP. Archons being summoned have full Health.
                            </div>
                            <br>
                            <div>
                                <b>Supply</b><br>
                                Producing units requires some amount of Supply indicated by <img src="static/img/icons/SupplyTerran.png" width="20px"></span> on your race sheet.
                                Some units and structures give you Supply, which is also indicated on the race sheet.
                                The total Supply cost of the units you put into production cannot be larger than your Supply.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="width: 392px">
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Area Control</div>
                            <div>
                                You <i>control</i> areas that only have your control marker on it.
                                Units can move secretly on the minimap between areas under control.
                            </div>
                            <br>
                            <div>
                                Areas with more than one control marker are <i>contested</i>.
                            </div>
                            <br>
                            <div>
                                An area is <i>reachable</i> for a unit with enough movement points to move there, moving through connected areas under <i>control</i> and into at most one adjacent non-controlled area.
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Push</div>
                            <div>
                                To make a push, gather a <i>Control Group</i> of units on your Minimap that can all reach the same non-controlled area.
                                Units that have retreated or been part of another push this round cannot be part of a new push.
                                Units in a contested area have to start the push in that area.
                                Units in your control group cannot start in several contested areas.
                                Now, declare to the other players the area on the Map you push into.
                                You can only push into the same area once per round.
                            </div>
                            <br>
                            <div>
                                All other players now have to declare whether they are in that area.
                            </div>
                            <br>
                            <div>
                                If the area is <b>unoccupied</b>, remove any control markers on that area and place one of your own. Then, <i>push forward</i> or <i>end the push</i>.
                            </div>
                            <br>
                            <div>
                                If the area is <b>occupied</b>
                                <ol>
                                    <li><b>Attackers Reveal:</b> Reveal all visible attackers by placing them in the area on the Map and show where they came from. You may declare if you have detectors to reveal cloaked units.</li>
                                    <li><b>Defenders Reveal:</b> The defending player must now place all visible units and structures in the engaged area on the Map. You may declare if you have detectors to reveal cloaked units.</li>
                                    <li><b>Attackers Retreat:</b> The attacking player can now decide to a) retreat with all attackers to the area(s) they came from, which ends the push, or b) commit to the engagement. Retreating attackers do not spend a Movement Point on the engagement.</li>
                                    <li><b>Defenders Retreat:</b> If the attackers commit, the defending players can, in the current turn order, retreat with any units to any reachable area under control but not through the areas that the attackers came from.
                                    If no defending units or structures remain, remove any control marker on the area and place one owned by the attacking player, and the attacking player can then <i>push forward</i> or <i>end the push</i>.</li>
                                    <li><b>Combat:</b> If the attacker committed and any defending units or structures remain, then perform a combat round.
                                </ol>
                            </div>
                            <div>
                                <b>Pushing Forward</b><br/>
                                Attacking units that did not retreat or attack can <i>push forward</i> to a new area.
                                Form a new Control Group from your current Control Group and follow the rules for a Push.
                            </div>
                            <br>
                            <div>
                                <b>Ending a Push</b><br/>
                                You can also <i>end a push</i>, allowing you to move any units in your current control group, that have not attacked, to reachable areas you control.
                                It is allowed to move out of the previously engaged area and into areas under control when ending a push.
                                After ending a push, it becomes the next player to make a push or pass.
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Special Rules</div>
                            <div>
                                <i class="bi bi-eye-slash light"></i> Cloaking: Can only be attacked and seen by players with a detector in the area.<br/>
                                <i class="bi bi-broadcast light"></i> Detection: Can see cloaked and burrowed units.<br/>
                                <i class="bi bi-pin-map-fill light"></i> Flying: Can only be attacked by Air Attack.<br/>
                                <i class="bi bi-layers-half light"></i> Hover: Cannot be targeted by Spider Mines.<br/>
                                <i class="bi bi-x-octagon light"></i> Static: Has Speed 0 and cannot return fire to enemies with higher Range.<br/>
                                <i class="bi bi-exclamation-square light"></i> Frenzy: Can attack again at the end of the combat if they survived and did attack this combat round.<br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" style="width: 452px">
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Spells & Energy</div>
                            <div>
                                Abilities with the <img src="static/img/icons/energy.png">-icon are called spells and require Energy to be used.
                                When spells are used, the spell caster lose their Energy.
                                Abilities that do not cost Energy can be cast following the rules of the ability.
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Loading & Unloading</div>
                            <div>
                                Units with the ability to <i>load/unload</i> units can at any time do so in the Macro phase, when revealing units, or when ending a push.
                                However, it always costs one movement point for a unit to be loaded.
                                Units that have attacked cannot be loaded.
                                Loaded units are hidden and cannot attack or use abilities until they are unloaded.
                                When going into combat, reveal any loaded units that you wish to use in this combat round.
                            </div>
                            <br />
                            <div>
                                Units can also be loaded and unloaded in the combat steps that match the Range of the loaded/unloaded units or the unit they are loaded into or out off.
                                Units can not be both loaded and unloaded in the same combat step.
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Combat</div>
                            <br/>
                            <div>
                                <b>Preperation</b></br>
                                Reveal any new upgrades on your units in combat.
                            </div>
                            <br />
                            <div>
                                <b>Combat Steps</b></br>
                                Starting with units of the highest Range. perform a Combat Step wherein these units can attack and use abilities.
                                In a Combat Step, the attacking player first assigns actions and targets, followed by the defending player.
                                Units can decide not to act in the Combat Step of their range to act later.
                            </div>
                            <br>
                            <div>
                                Damage from all players take effect simultaneously before moving on the the next Combat Step.
                                Remove any units that are killed and use tokens to show lost Health and Energy.
                            </div>
                            <br>
                            <div>
                                <b>Assigning Actions</b>
                                <div>
                                    For each attacking unit select one unit type among the defending units that will be targeted.
                                    Units can also use spells and abilities in this step.
                                    Air attacks can only target flying units and ground attacks can only target ground units.
                                    <b>Air units</b> can freely target any enemy.
                                    <b>Ground Units</b> can only target units and buildings with the same or lower range.
                                    If a ground unit doesn't have anything in range, they can target enemies with the lowest range available.
                                    Any unit can act in combat step 1 if they have not attacked yet.
                                    Workers gathering resources can only be targeted by attacks in combat step 1.
                                </div>
                            </div>
                            <br>
                            <div>
                                <b>Deal Damage</b>
                                <div>
                                    To determine the amount of damage an attack will deal to the enemy, calculate their Modified Attack Value (MAV).
                                    The attacker allocates the damage onto the targets.
                                </div>
                                <br/>
                                <div>MAV = Attack - Armor</div>
                                <br />
                                <div>
                                    MAV can never be lower than 1, except for workers which always have MAV = ½. Workers need to attack in pairs to deal any damage.
                                </div>
                                <br />
                                <div>
                                    <b>Attack:</b> The Attack value shown on the race sheet (as <i>Gr.</i> if the targets are ground units or <i>Air</i> if they are flying) including any Attack upgrades.
                                </div>
                                <div>
                                    <b>Armor:</b> The Armor value of the target units including Armor upgrades.
                                </div>
                                <div>
                                    <b>Acid Spore (a)</b> attacks deal one additional damage per acid spore on the target and adds one acid spore to all targets that are dealt damage.
                                </div>
                                <div>
                                    <b>Suicide (!)</b> attacks kill the attacker.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Winning</div>
                            <div>
                                <b>Elimination</b>
                                <div>
                                    Ways to get eliminated:
                                    <ul>
                                        <li>You loose all units</li>
                                        <li>You loose all bases</li>
                                        <li>You surrender</li>
                                    </ul>
                                </div>
                                <b>Winning</b>
                                <ul>
                                    <li>All other players are eliminated</li>
                                    <li>After the last round, the player controlling the most areas wins. If tied, play another round only with the Micro Phase. If still tied, the player with the starting player token wins.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>