<!DOCTYPE html>
    <head>
        <title>{{race}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="static/css/styles.css" rel="stylesheet">
        <link href="static/css/Terran.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-3">
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Setup</div>
                            <div>
                                <ol>
                                    <li>Place the main game board (known as the Map) somewhere on the table so it can be reached by all players.</li>
                                    <li>Randomly determine the starting location of each player among the starting locations on the map and situate yourself near your own.</li>
                                    <li>Each player selects a race and places one of the smaller game boards (known as the minimap) in front of them and collects all the unit, buildings, upgrades, and control markers associated with their race as well as a set of mineral, gas, and miscellaneous tokens.</li>
                                    <li>Each player places one of their control markers on all the areas they control. Look at the Map to see how it is partitioned.</li>
                                    <li>Each player places a Command Center, Nexus, or Hatchery (depending on your race) along with two workers in starting location on their Minimap. Zerg also starts with one Overlord.</li>
                                    <li>The minimaps are secret and must be hidden from other players' vision behind books, board games, or something else you find.</li>
                                    <li>Place the turn tracker near the Map and place the player tokens in a line, in a random order, with the first player token on the turn 1 square and the others behind.</li>
                                </ol>
                                Now you are ready to start Turn 1.
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px;">
                        <div class="container content">
                            <div class="title">Turn Sequence</div>
                            <div>
                                <div>
                                    A turn has two phases. First, a <b>Macro Phase</b> that each player performs secretly at the same time, and then, when everyone is ready to proceed, a <b>Micro Phase</b> that is performed in order, starting with the current starting player and ends when all players passes.
                                </div>
                                <br />
                                <div>
                                    <b>Macro Phase</b>
                                    <ol>
                                        <li>Income</li>
                                        <li>Deployment</li>
                                        <li>Move & Produce</li>
                                    </ol>
                                </div>
                                <div>
                                    <b>Micro Phase</b>
                                    <div>
                                        In the current turn order, players can make a Push or pass. When all players passes, the Micro Phase ends and a new turn starts.
                                    </div>
                                </div>
                                When a turn is over, move the player token from the end of the line to the start of the line so it's placed on the square of the next turn.
                                Then start a new turn.
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Income</div>
                            <div>
                                Units with the <b>Gather</b> ability (called workers) can collect either one Mineral or one Gas, if they did not attack last turn, from areas where they own a <i>resource gathering facility</i> (Command Center, Nexus, Hatchery, Lair, or Hive).
                                Workers can only collect resources from the areas they are in and they cannot move in this step.
                                No more minerals can be gathered from one area than the number of mineral fields in it.
                                At most three gas can be gathered from each gas extractor.
                                Take all the collected resources and place them somewhere on your minimap.
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Deployment</div>
                            <div>
                                dslfdfs
                            </div>
                        </div>
                    </div>
                    <div class="item border-2" style="padding: 4px; padding-top: 8px; padding-bottom: 8px">
                        <div class="container content">
                            <div class="title">Move & Produce</div>
                            <div>
                                dslfdfs
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>