body {
    background-color: black;
    color: rgb(150, 220, 255);
}

.bi {
    color: rgb(40, 100, 220);
}

.light {
    color: rgb(230, 230, 255);
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.item {
    background-color: rgba(5, 5, 60, 0.2);
    margin: 4px;
    box-shadow: inset 75px 0px 50px #126;
}

.glow-large {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 24px #139;
    z-index: 1000;
}

.glow-small {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 12px #139;
    z-index: 1000;
}

.image {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 2px;
}

.icon {
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    position: relative;
    background-color: black;
}

.border-2 {
    border: 2px solid rgb(40, 100, 220);
}

.border-1 {
    border: 1px solid rgb(40, 100, 220);
}

.building {
    width: 110px;
    height: 110px;
}

.unit {
    width: 42px;
    height: 42px;
    float: left;
    margin-top: 1px;
    margin-right: 1px;
}

.content {
    padding-top: 4px;
    height: 100%;
    padding-left: 4px;
}

.title {
    font-weight: bold;
    color: rgb(230, 230, 255);
}

.requirement {
    font-size: 12px;
}

.bg-requirement {
    background-color: rgb(40, 100, 220)!important;
}

.abilities-row {
    margin-top: 1px;
    margin-right: 4px;
    margin-left: 1px;
    border-top: 1px solid rgba(40, 100, 220, 0.6);
}

.abilities {
    font-size: 12px;
}

.bg-ability {
    background-color: rgb(40, 140, 80)!important;
}

.resource {
    font-weight: bold;
    float: right;
    padding-right: 4px;
}

.health {
    font-weight: bold;
    float: right;
    font-size: 12px;
    margin-right: 4px;
}

.products-row {
    margin-top: 1px;
    margin-right: 4px;
    margin-left: 1px;
    border-top: 1px solid rgba(40, 100, 220, 0.6);
    min-height: 44px;
}

.requirement-row {
    min-height: 16px;
}

.stat-header {
    font-size: 10px;
    padding-top: 1px;
    text-align: center;
}

.stat-value {
    text-align: center;
}

.resource-container {
    position: relative;
    top: 2px;
    margin-right: 20px;
}

.resource-image {
    position: absolute;
}